Node_red/Joystick_LEDmatrix_combination.json
[{"id":"619b05ec.10b43c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f40cf1a.e819f1","type":"rpi-sensehat out","z":"619b05ec.10b43c","name":"","x":1094,"y":212,"wires":[]},{"id":"5c024267.1ffc3c","type":"rpi-sensehat in","z":"619b05ec.10b43c","name":"","motion":false,"env":false,"stick":true,"x":137,"y":244,"wires":[["f7981d79.03a3c"]]},{"id":"f7981d79.03a3c","type":"function","z":"619b05ec.10b43c","name":"joystick","func":"o = msg.payload\nvar x = context.get('x') || 0;\nvar y = context.get('y') || 0;\nvar oldx =x;\nvar oldy =y;\n\nif (o.state == \"1\" && o.key == \"UP\"){\n    y = y-1\n}\nif (o.state == \"1\" && o.key == \"DOWN\"){\n    y = y+1\n}   \nif (o.state == \"1\" && o.key == \"LEFT\"){\n    x = x-1\n}  \nif (o.state == \"1\" && o.key == \"RIGHT\"){\n    x = x+1   \n}\nif(x >7){\n    x = 0\n}\nif(x<0){\n    x = 7\n}\nif(y >7){\n    y = 0  \n}\nif(y<0){\n    y = 7\n}\nmsg.payload = oldx+\",\"+oldy+\",off,\"+x+\",\"+y+\",red\"\ncontext.set('x',x)\ncontext.set('y',y)\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":210,"wires":[["f40cf1a.e819f1"]]}]