Node_red/Sensor_test_with_UI.json
[{"id":"7e0d6073.0edc6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"23aeb5f0.1dae8a","type":"rpi-sensehat in","z":"7e0d6073.0edc6","name":"","motion":false,"env":true,"stick":false,"x":163,"y":75,"wires":[["5fa0953f.df28bc","5280d160.4b86c","6258a701.a25198"]]},{"id":"fbb3ed7c.f0f7f","type":"ui_gauge","z":"7e0d6073.0edc6","name":"temperature","group":"b102c439.e68a58","order":0,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"Celsius","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":963,"y":73,"wires":[]},{"id":"5fa0953f.df28bc","type":"function","z":"7e0d6073.0edc6","name":"temperature","func":"var o = msg.payload\nmsg.payload = o.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":598,"y":73,"wires":[["fbb3ed7c.f0f7f"]]},{"id":"1b5e7e78.0d1472","type":"ui_gauge","z":"7e0d6073.0edc6","name":"humidity","group":"b102c439.e68a58","order":0,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":952,"y":139,"wires":[]},{"id":"5280d160.4b86c","type":"function","z":"7e0d6073.0edc6","name":"humidity","func":"var o = msg.payload\nmsg.payload = o.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":586,"y":140,"wires":[["1b5e7e78.0d1472"]]},{"id":"3266c602.55438a","type":"ui_gauge","z":"7e0d6073.0edc6","name":"pressure","group":"b102c439.e68a58","order":0,"width":0,"height":0,"gtype":"gage","title":"pressure","label":"Pa","format":"{{value}}","min":"900","max":"1200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":954,"y":201,"wires":[]},{"id":"6258a701.a25198","type":"function","z":"7e0d6073.0edc6","name":"pressure","func":"var o = msg.payload\nmsg.payload = o.pressure;\nreturn msg;","outputs":1,"noerr":0,"x":587,"y":203,"wires":[["3266c602.55438a"]]},{"id":"b102c439.e68a58","type":"ui_group","z":"","name":"Enviroment","tab":"877d4c99.bf906","disp":true,"width":"6","collapse":false},{"id":"877d4c99.bf906","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]